<h1 class = "title">身分證字號產生器</h1>
<div class = "result">
  您輸入的身分證字號是 <%= @id %><%= @q %> <br />
  驗證結果<span class="<%= @check %>"><%= @check %></span><br />
  登記縣市為 <%= @country %> <br />
  性別：<%= @gender %><br />
  檢查碼：<%= @check_digit %>
</div>
<div class="form">
  <%= form_tag(idcheck_path, method: "get") do %>
    <%= text_field_tag(:q,nil,placeholder: '請輸入身分證字號10碼',maxlength: 10) %>
    <%= submit_tag("檢查") %>
  <% end %>
</div>

<div class = "links">
  <%= link_to "產生",idgenerate_path %>
</div>
